.history-list{
    
}
.message-detail{
    width: 80%;
}
.rounded{
    border-radius: 10px;
}
.message-green{
    background-color: #dcf8c6;
    color: black;
}
.message-blue{
    background-color: rgb(0, 153, 255);
}

.message-date{
    font-style: italic;
    font-size: 12px;
    text-align: right;
}
.line-break{
    white-space: pre-wrap;
}
.history-list-window{
    background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
    display: inline-block;
    padding: 20px;
    max-height: 600px;
    overflow-y: scroll;
}

.history-list-window-messenger{
    background: #fdfcfb;
    display: inline-block;
    padding: 20px;
    max-height: 600px;
    overflow-y: scroll;
}
.white-text{
    color: #fff
}
.black-text{
    color: rgba(0, 0, 0, 1);
}